.hero {
  padding: 74px 16px 88px;
  @media (min-width: $tablet) {
    max-width: 768px;
    margin: 0 auto;
  }
  @media (min-width: $desktop) {
    max-width: 100%;
  }
  &__bubble {
    position: absolute;
    left: 100%;
    left: calc(50% + 90px);
    top: -26px;
  }
  &__contact {
    display: inline-block;
    padding: 4px 24px;
    border-radius: 64px;
    height: 48px;
    background: $lightBlue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
  }
  &__description {
    text-align: center;
    @media (min-width: $desktop) {
      max-width: 786px;
      margin: 0 auto;
      position: relative;
      &::before,
      &::after {
        width: 82.94px;
        height: 254.88px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
      }
      &::before {
        background: url("../assets/img/hero-left.svg");
        right: 100%;
      }
      &::after {
        background: url("../assets/img/hero-right.svg");
        left: 100%;
      }
    }
  }
  &__header {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: $textDark;

    @media (min-width: $desktop) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__hello {
    display: none;
    @media (min-width: $desktop) {
      display: block;
      background: $blue;
      color: #fff;
      border-radius: 16px;
      font-weight: bold;
      font-size: 32px;
      padding: 16px 19px;
      position: relative;
      &:after {
        content: "";
        display: block;
        left: 32px;
        top: 100%;
        width: 17.42px;
        height: 22.66px;
        background: url("../assets/img/speech.svg");
        position: absolute;
      }
    }
  }
  &__image {
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 16px solid #f6f9fd;
    @media (min-width: $desktop) {
      width: 178px;
      height: 178px;
      border: 24px solid #f6f9fd;
    }
  }
  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__link {
    font-weight: bold;
    color: $lightBlue;
    text-decoration: none;
  }
  &__paragraph {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 48px;
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__special {
    color: $blue;
    white-space: nowrap;
  }
}
