.hero {
  padding: 74px 16px 0;
  &__description {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    text-align: center;
  }
  &__image {
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 16px solid #f6f9fd;
  }
  &__header {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: $textDark;
  }
  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__hello {
    display: none;
  }
  &__special {
    color: $blue;
  }
  &__description {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
  }
}
