.skills {
  background: $blue;
  color: #ffffff;
  padding: 64px 16px 88px;
  
  &__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }
}
.skills-list {
  font-style: normal;
  color: $lighterBlue;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  max-width: 278px;
  &__item {
    padding: 0 0 0 24px;
    margin: 0 0 16px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    &:before {
      position: absolute;
      left: 0;
      top: 8px;
      content: "";
      width: 12px;
      height: 9px;
      display: block;
      background: url("../assets/img/small-tick-green.svg");
      .skills-list--blue & {
        background: url("../assets/img/small-tick-blue.svg");
      }
      .skills-list--dot & {
        background: $lightBlue;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        top: 10px;
        left: 5px;
      }
    }
  }
}
.skills-section {
  margin-top: 64px;
  &__emoji {
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    display: block;
  }
  &__header {
    margin-top: 16px 0 24px;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
  }
}
